@import "tailwindcss";

@font-face {
  font-family: iranSans;
  src: url(../fonts/Iranian\ Sans.ttf);
}
body {
  background-color: #0a0118;
  color: white;
  font-family: iranSans;
}

@layer utilities {
  .slideToRight {
    animation: slideToRight 10s linear infinite alternate;
    &:hover {
      animation-play-state: paused;
    }
  }
  .slideCards {
    animation: slideCards 10s linear infinite alternate;
    &:hover {
      animation-play-state: paused;
    }
  }
}

.showMenu{
  display: flex;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes slideCards {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
