@import "tailwindcss";

@font-face {
  font-family: iranSans;
  src: url(../fonts/Iranian\ Sans.ttf);
}
@font-face {
  font-family: lalezar;
  src: url(../fonts/Lalezar-Regular.ttf)
}
body {
  background-color: #0a0118;
  color: white;
  font-family: lalezar;
}

@layer utilities {
  .lalezar{
    font-family: lalezar;
  }
  .slideToRight {
    animation: slideToRight 10s linear infinite alternate;
    &:hover {
      animation-play-state: paused;
    }
  }
  .slideCards {
    animation: slideCards 10s linear infinite alternate;
    &:hover {
      animation-play-state: paused;
    }
  }
  .animate-slide-down {
    animation: slideDown 0.4s ease-out forwards;
  }
}

.showMenu {
  display: flex;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes slideCards {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */


